{% extends "base_generic.html" %}

{% block content %}
<h1>Все категории
    {% if perms.catalog.staff_member_required %}
    <a href="{% url 'category-create'%}" class="btn btn-primary"><span class="white">Добавить</span></a>
    {%endif%}</h1>
{% if category_list %}
<ul>
    <div class="cards-list">
        {% for category in category_list %}
        <a href="{%url 'category-detail' category.pk%}" class="all-categories none">
            <div class="card-category">
                <div class="card_image"><img src="{{category.image}}"/></div>
                <div class="card_title white">
                    {{category.name}}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</ul>
{% else %}
<p>Nevozmozhno</p>
{% endif %}
{% endblock %}