{%extends "base_generic.html"%}
{% load static %}
{% block content %}
<div class="row">
    <div class="slider col-9 mt-5">
        <div class="slider__item">
            <img src="{% static 'images/test.jpg' %}">
            <div class="content col-6">
                <h2>Самый большой алкогольный магазин в Астане</h2>
                <button type="button" class="btn btn-warning"><span class="white">Подробнее</span></button>
            </div>
        </div>
        <div class="slider__item">
            <img src="{% static 'images/2.jpg' %}">
            <div class="content col-6">
                <h2>Большой выбор спиртного от обычного до элитного</h2>
                <button type="button" class="btn btn-warning"><span class="white">Подробнее</span></button>
            </div>
        </div>
        <div class="slider__item">
            <img src="{% static 'images/1.jpg' %}">
            <div class="content col-6">
                <h2>Продукты, которые редко встретишь в других магазинах</h2>
                <button type="button" class="btn btn-warning"><span class="white">Подробнее</span></button>
            </div>
        </div>
    </div>
    <div class="col-3 mt-5 banner">
        <img src="https://barabashka.kz/image/cache/catalog/alcogol/many-wine-281x235.png">
        <a><p class="desc">Lorem Ipsum is simply dummy text!</p></a>
        <img class="mt-2" src="https://barabashka.kz/image/cache/catalog/VALLOFORMOSA-281x235.png">
        <a><p class="desc">Lorem Ipsum is simply dummy text!</p></a>
    </div>
</div>
<h1>Главные категории</h1>
<div class="cards-list ">
    {% for category in categories %}
    <a href="{%url 'category-detail' category.pk%}" class="none">
        <div class="card-category">
            <div class="card_image"><img src="{{category.image}}"/></div>
            <div class="card_title white">
                <p>{{category.name}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<h1 class="mt-5">Новые поступления</h1>
<ul>
    <div class="row mt-3">
        {% for product in products %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <a href=""><img src="{{product.image}}" height="200" width="220"></a>
                <p class="card-text mt-2">{{product.description}}</p>
                <p class="price-text">
                    {% if product.price < 99999 %}
                    <a href="{% url 'product-detail' product.pk %}" class="btn btn-primary">
                        Посмотреть</a><span class="price">{{product.price}}тг</span>
                    {%else%}
                    <a href="{% url 'product-detail' product.pk %}" class="btn btn-primary">
                        Посмотреть</a><span class="price-big">{{product.price}}тг</span>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>
{% endblock %}