{% extends "base_generic.html" %}

{% block content %}
<h1>Самые популярные продукты
    {% if perms.catalog.staff_member_required %}
    <a href="{% url 'product-create'%}" class="btn btn-primary"><span class="white">Добавить</span></a>
    {%endif%}
</h1>


{% if product_list %}
<ul>
    <div class="row mt-1">
        {% for product in product_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <a href=""><img src="{{product.image}}" height="200" width="220"></a>
                <p class="card-text mt-2">{{product.description}}</p>
                <p class="price-text">
                    {% if product.price < 99999 %}
                    <a href="{% url 'product-detail' product.pk %}" class="btn btn-primary">
                        Посмотреть</a><span class="price">{{product.price}}тг</span>
                    {%else%}
                    <a href="{% url 'product-detail' product.pk %}" class="btn btn-primary">
                        Посмотреть</a><span class="price-big">{{product.price}}тг</span>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>
{% else %}
<p>There are no products.</p>
{% endif %}
{% endblock %}
